<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <h1><%= title %></h1>
        <form class= "form" method="post">
            <div class="form-group">
                <label for="taskTextField">Task</label>
                <input type="text" class="form-control"
                id="taskTextField"
                placeholder="enter task title"
                task="task" required>
            </div>

            <div class="form-group">
                <label for="priorityTextField">Priority</label>
                <input type="text" class="form-control"
                id="priorityTextField"
                placeholder="enter task title"
                priority="priority" required>
            </div>

            <div class="form-group">
                <label for="dueTextField">Due</label>
                <input type="text" class="form-control"
                id="dueTextField"
                placeholder="enter task title"
                due="due" required>
            </div>

            <button class="btn-btn-primary" type="submit">
                <i class="fas fa-edit"></i> submit
            </button>

            <a href="/todolist" class="btn-warning">
                <i class="fas fa-undo"></i>Cancel</a>

    </div>
</div> 
