<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
<br>
<h1><%= message %></h1>
<p> please note that the homepage showcases itself by typing /index or using the navbar<p>

<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

